body {
  padding: 0px 5px 0px 5px;
}

header h1 {
  padding-bottom: 5px;
  border-bottom: 1px dashed #aaaaaa;
}

div:focus {
  outline: 0;
}

#username {
  display: none;
}

#currentUser {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  color: #aaaaaa;
}

#content {
  margin-bottom: 35px;
}

#statusBar {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding-top:3px;
  color: #aaaaaa;
}

#activeUsers {
  float: left;
  padding-left: 5px;
}

#status {
  float: right;
  padding-right: 5px;
}

#content p {
  margin-left: 15px;
}

.commentIcon {
  float: left;
  opacity: 0;
  padding-right: 1px;
}

div.comments {
  margin-left: 30px;
}

div.reply {
  margin-top: 5px;
}

.user1 {
  border-left: 5px solid #2BB551;
  padding-left: 2px;
}
.user1Name {
  color: #2BB551;
}

.user2 {
  border-left: 5px solid #9D00FF;
  padding-left: 2px;
}
.user2Name {
  color: #9D00FF;
}

.user3 {
  border-left: 5px solid #FFAE00;
  padding-left: 2px;
}
.user3Name {
  color: #FFAE00;
}

.user4 {
  border-left: 5px solid #E8009A;
  padding-left: 2px;
}
.user4Name {
  color: #E8009A;
}

.user5 {
  border-left: 5px solid #00C7D6;
  padding-left: 2px;
}
.user5Name {
  color: #00C7D6;
}

.user6 {
  border-left: 5px solid #305955;
  padding-left: 2px;
}
.user6Name {
  color: #305955;
}

.user7 {
  border-left: 5px solid #E80D00;
  padding-left: 2px;
}
.user7Name {
  color: #E80D00;
}

.user8 {
  border-left: 5px solid #0600ED;
  padding-left: 2px;
}
.user8Name {
  color: #0600ED;
}

.user9 {
  border-left: 5px solid #000000;
  padding-left: 2px;
}
.user9Name {
  color: #000000;
}

.user10 {
  border-left: 5px solid #FF5A00;
  padding-left: 2px;
}
.user10Name {
  color: #FF5A00;
}

.comments {
  margin: 0px 0px 5px 15px;
}

.comments i {
  vertical-align: top;
}

