body {
  padding: 0px 5px 0px 5px;
}

div:focus {
  outline: 0;
}

#username {
  display: none;
}

#currentUser {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 2;
  color: #aaaaaa;
}

#content {
  margin-bottom: 35px;
}

#statusBar {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding-top:3px;
  color: #aaaaaa;
}

#activeUsers {
  float: left;
  padding-left: 5px;
}

#status {
  float: right;
  padding-right: 5px;
}

#content p {
  margin-left: 15px;
}

.commentIcon {
  float: left;
  opacity: 0;
  padding-right: 1px;
}

.user1 {
  border-left: 5px solid #2BB551;
  padding-left: 2px;
}
.user1Name {
  color: #2BB551;
}

.user2 {
  border-left: 5px solid #9D00FF;
  padding-left: 2px;
}
.user2Name {
  color: #9D00FF;
}

.user3 {
  border-left: 5px solid #FFAE00;
  padding-left: 2px;
}
.user3Name {
  color: #FFAE00;
}

.user4 {
  border-left: 5px solid #E8009A;
  padding-left: 2px;
}
.user4Name {
  color: #E8009A;
}

.user5 {
  border-left: 5px solid #00D8E8;
  padding-left: 2px;
}
.user5 {
  color: #00D8E8;
}

.comments {
  margin: 0px 0px 5px 15px;
}

.comments i {
  vertical-align: top;
}

