body {
  padding: 5px;
}

#currentUser {
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 2;
  color: #aaaaaa;
}

#activeUsers {
  position: fixed;
  bottom: 2px;
  left: 5px;
  z-index: 2;
  color: #aaaaaa;
}

